.banner {
  padding: 40px 0px;
}

.banner__container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f4efe9;
  border-radius: 20px;
  flex-direction: column;
  .banner__container__img {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    .banner__container__img {
      width: 100%;
      height: auto;
      display: block;    
    }
    & img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  @media only screen and (min-width: 1200px) {

  }
}

.banner__container__info {
  width: fit-content;
  padding:1px 3px 7px 27px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    padding: 16px 43px 58px 20px;
    }
  
  @media only screen and (min-width: 1200px) {

  }
}

.banner__container__content {
  margin-left: 41px;
  font-family: 'Inter';
}

.banner__container__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #8bb43c;
  margin-bottom: 23px;
}

.banner__container__title span {
  color: #000000;
}

.banner__container__button {
  background: #a5d364;
  border-radius: 110px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 14px 55px;
  color: #ffffff;
  transition: 300ms;
}

.banner__container__button:hover {
  cursor: pointer;
  background: #678b35;
}