.cartList {
  display: none;
  &.active {
    display: block;
  }
}

.cartList__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  position: absolute;
  height: 93vh;
  width: fit-content;
  width: 260px;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
  @media only screen and (min-width: 768px) {
    width: 385px;
   
  }
  @media only screen and (min-width: 1200px) {
    width: 385px;

  }
}

.cartList__container.active {
  display: block;
}

.cartList__title {
  width: 100%;
  padding-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.cartList__list {
  flex-direction: column;
  gap: 20px;
  margin: 30px 0;
  display: flex;
  overflow: scroll;
  height: 500px;
}

.cart__container__bottom__blok {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__container__button {
  text-transform: uppercase;
  color: #fff;
  background: #a5d364;
  border: none;
  border-radius: 18px;
  padding: 16px 55px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  transition: all 0.3s;
  width: 100%;
}

.cart__container__button:hover {
  cursor: pointer;
  background: #678b35;
}

.sneaker__inCart__totalAmount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.cart__container__bottom__blok span {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  border-bottom: 1px dashed #dfdfdf;
  margin-right: 8px;
  margin-left: 9px;
  text-align: center;
}

.sneaker__inCart__taxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  white-space: nowrap;
}
.sneaker__inCart__taxes span {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  border-bottom: 1px dashed #dfdfdf;
  margin-right: 8px;
  margin-left: 9px;
  text-align: center;
}

//////////////////////////////////////

.modal-window {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(0.9);
  width: 520px;
  max-width: 95%;
  min-height: 200px;
  box-shadow: 0 10px 30px rgba(#000, 0.2);
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.18s ease-in-out;
  visibility: hidden;
  opacity: 0;
  @media only screen and (min-width: 768px) {

  }
  @media only screen and (min-width: 1200px) {

  }
  &.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
    min-height: inherit;
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
  }
}

.hidden {
  display: none;
}
