.emptyCart__wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 260px;
    text-align: center;
    @media only screen and (min-width: 768px) {
      min-width: 385px;
  
    }
    @media only screen and (min-width: 1200px) {
      min-width: 385px;
  
    }
  }
  
  .emptyCart__img {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-image: url(/src/img/empty_cart.png);
  }
  
  .emptyCart__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  
  .emptyCart__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
  }
  
  .emptyCart__container__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .emptyCart__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: #a5d364;
    border: none;
    width: 245px;
    height: 55px;
    border-radius: 18px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    transition: all 0.3s;
  }
  
  .emptyCart__button:hover {
    cursor: pointer;
    background: #678b35;
  }
  