.emptyContentOrder__wrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 260px;
  text-align: center;
  @media only screen and (min-width: 768px) {
    min-width: 385px;

  }
  @media only screen and (min-width: 1200px) {
    min-width: 385px;

  }
}

.emptyContentOrder__img {
  width: 83px;
  height: 120px;
  background-size: contain;
  background-position: center;
  background-image: url(/src/img/order.png);
}

.emptyContentOrder__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #87c20a;
}

.emptyContentOrder__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
  text-align: center;
}

.emptyContentOrder__container__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emptyContentOrder__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #a5d364;
  border: none;
  width: 245px;
  height: 55px;
  border-radius: 18px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  transition: all 0.3s;
  // width: 100%;
}

.emptyContentOrder__button:hover {
  cursor: pointer;
  background: #678b35;
}
