.header {
  border-bottom: 1px solid #eaeaea;
}

.header__container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1200px) {
    justify-content: space-between;
    width: 1225px;
    padding: 0 75px;
    flex-direction: row;
  }
}

.header__logo {
  display: flex;
  padding-bottom: 15px;
  @media only screen and (min-width: 768px) {
    padding-bottom: 0px;
  }
  @media only screen and (min-width: 1200px) {
  }
}

.header__logo__img {
  margin-right: 16px;
}

.header__logo__link {
  display: flex;
  text-decoration: none;
}

.header__logo__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--text-color);
  white-space: nowrap;
}

.header__logo__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9d9d9d;
}

.header__user {
  display: none;
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1200px) {
    padding-left: 0;
    padding-top: 0;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__user__icon {
  margin-right: 30px;
}

.header__user__icon__cart {
  display: flex;
  align-items: center;
}

.header__user__icon:last-child {
  margin-right: 0px;
}

.header__user__icon span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
  margin-left: 10px;
}

.header__user.open {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 90px;
  align-items: flex-start;
  .header__user__icon:last-child {
    margin-right: 0px;
    padding-top: 25px;
  }
  @media only screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
