.header {
  border-bottom: 1px solid #eaeaea;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    padding-left: 40px;
    justify-content:flex-start;
  }
  @media only screen and (min-width: 1200px) {
    justify-content: space-between;
    padding-left: 0px;
  }
 // width: 320px;
  // margin: 0 auto;
  // @media only screen and (min-width: 768px) {
  //   width: 768px;
  //   // padding: 0 20px;
  // }
  // @media only screen and (min-width: 1200px) {
  //  width: 1225px;
  //   // padding: 0 75px;

  // }
}

.header__logo {
  display: flex;
  padding-bottom: 15px;
  @media only screen and (min-width: 768px) {
    padding-bottom: 0px;

  }
  @media only screen and (min-width: 1200px) {

  }
}

.header__logo__img {
  margin-right: 16px;
}

.header__logo__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #141111;
}

.header__logo__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9d9d9d;
}

.header__user {
  
  display: none;
  @media only screen and (min-width: 768px) {
    padding-left: 280px;
    display: block;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  @media only screen and (min-width: 1200px) {
    padding-left:0;
  }
}

.heder__user__icon {
  margin-right: 30px;
}

.heder__user__icon__cart {
  display: flex;
  align-items: center;
}

.heder__user__icon:last-child {
  margin-right: 0px;
}

.heder__user__icon span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
  margin-left: 10px;
}

