// body {
//   margin: 0;
//   font-family: Helvetica, Arial, sans-serif;
// }

.nav-toggle__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  // margin: 0 auto;
  padding: 0 1rem;
  display: block;
}
.nav-toggle {
  display: none;
  // position: absolute;
  right: 1rem;
  top: 1.5rem;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}

.header__user__icon__cart {
  // display: inline-block;
  // padding: 0 1.25rem;
  // flex: 1 0 auto;
}

// li a {
//   color: #000;
//   text-decoration: none;
// }

// li:hover a {
//   text-decoration: underline;
// }

/* Mobile Toggle */
.dark .navIcon {
  filter: invert(85%);
}



.nav-toggle img {
  width: 1.5rem;
  transition: 300ms all ease;
}

.nav-toggle:hover img {
  // opacity: 0.6;
}

.open {
  display: block;
  height: 100vh;
}

.hidden {
  display: none;
}


/* Mobile */
@media all and (max-width: 1200px) {
  .nav-toggle__container {
    flex-direction: column;
    align-items: flex-start;
 
  }
  

  nav {
    height: 0;
    width: auto; /* Автоматична ширина */
    margin-left: auto; /* Автоматичне вирівнювання по центру */
    margin-right: auto;     
    overflow: hidden;
    transition: 250ms 
    height ease-in-out;
  }

  .header__user__icon__cart.open {
    // display: block;
    text-align: center;
    // padding: 1.5rem 0;
  
  }



  .nav-toggle {
    display: block;
  }
}

