.sneakersList__list, .sneakersList {

    padding: 30px 0;
  @media only screen and (min-width: 768px) {
    padding: 35px 0;

  }
  @media only screen and (min-width: 1200px) {
    padding: 44px 0;

  }
}
.sneakersList__container {
  width: 320px;
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    width: 768px;
    padding: 0 20px;
  }
  @media only screen and (min-width: 1200px) {
    width: 1225px;
    padding: 0 75px;

  }
}
.sneakersList__list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 1200px) {
    gap: 40px;
  }
}
.sneaker__item {
  width: 210px;
  height: 260px;
  padding: 2rem;
  background: var(--card-color);
  border: 1px solid var(--card-border-color);
  border-radius: 40px;
  transition: box-shadow 250ms ease-in-out;
  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  }
  @media only screen and (min-width: 768px) {
    width: 187px;
    padding: 1.5rem;
  }
  @media only screen and (min-width: 1200px) {
    width: 210px;
    height: fit-content;
    padding: 2rem;

  }
}

// ♡
.sneaker__img__wrapper {
  position: relative;
  margin-bottom: 14px;
  & img {
    width: 100%;
  }
}

.sneaker__heart__button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  padding: 3px;
  position: absolute;
  top: 0;
  border-radius: 7px;
  border: 1px solid #d1cfcf88;
  &.active {
    background-color: #f5c3c3;
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/img/vector_heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }

  &.active:before {
    background-image: url('/src/img/vector_heart_active.svg');
    background-blend-mode: multiply;
  }
}

.sneaker__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.sneaker__price__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sneaker__price__label {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
}

.sneaker__price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.sneaker__add__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;

  &.active {
    background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #652b2b;
    background-image: url('/src/img/plus_vector.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &.active:before {
    background-color: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
    background-image: url('/src/img/vector_check_mark.svg');
    background-blend-mode: multiply;
  }
}



.sneakersList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media only screen and (min-width: 1200px) {

  }
}

.search__input {
  padding: 15px 15px 15px 45px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 17px;
  color: var(--search-text-color);
  background-color: var(--search-color);
}
.search__input:focus {
  outline: 1px solid var(--search-focus-color);
}
.search__input::placeholder {
  color: var(--search-placeholder-color);
}
.search__input-label {
  position: relative;
}
.search__input-label::before {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  top: 1px;
  background-image: url(/src/img/search.png);
}

.sneakersList__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: var(--text-color);
  margin-bottom: 20px;
  @media only screen and (min-width: 768px) {

    }
  @media only screen and (min-width: 1200px) {
    
  }
}
