<section class="banner section">
  <div class="banner__container ">
    <div class="banner__container__info">
      <div class="banner__container__label">
        <img src="./img/logo_banner.png" alt="" />
      </div>
      <div class="banner__container__content">
        <h3 class="banner__container__title">Stan Smith<span>, Forever</span></h3>
        <button class="banner__container__button">Buy</button>
      </div>
    </div>
    <div class="banner__container__img">
      <img src="./img/baner.png" alt="" />
    </div>
  </div>
</section>
