<!-- <section class="cartList">
    <div class="cartList__container container">
        <h2 class="cartList__title">Кросівки в кошику</h2>
        
        <ul class="cartList__list"></ul>
    </div>
</section>
 -->

<!-- <section class="cartList" style="display: none;"> -->
    <section class="cartList">
    <div class="cartList__container ">
        <h2 class="cartList__title">Корзина</h2>
        <ul class="cartList__list"></ul>
        <div class="cart__container__button__block">
        <button class="cart__container__button">
            Оформити замовлення</button>
        </div>
    </div>
</section>
<div class="modal-window__backdrop hidden" id="modal-backdrop"></div>
<script src="./js/cart.js" type="module"></script>
