<section class="sneakersList">
  <div class="sneakersList__container">
      <div class="sneakersList__header">
        <h2 class="sneakersList__title">Всі кросівки</h2>
      
        <div class="seach__container">
          <label class="search__input-label" for="seach">
            <input
              class="search__input"
              type="text"
              name="seach"
              id="seach"
              placeholder="Пошук..."
            />
          </label>
        </div>
      </div>
      
    
    <ul class="sneakersList__list"></ul>
  </div>
</section>
