<section class="sneakersList">
  <div class="sneakersList__container">
      <div class="sneakersList__header">
        <h2 class="sneakersList__title">All sneakers</h2>
      
        <div class="search__container">
          <label class="search__input-label" for="search">
            <input
              class="search__input"
              type="text"
              name="search"
              id="search"
              placeholder="Search..."
            />
          </label>
        </div>
      </div>
      
    
    <ul class="sneakersList__list"></ul>
  </div>
</section>
