body, body.light {
  font-family: 'Inter';
  position: relative;
  overflow-x: hidden;
  background-color: var(--body-color);
  color: var(--text-color-light);
}
body.dark{
  background-color: var(--body-color);
  color: var(--text-color-light);
}
